<div class="container w-25 pt-3">
  <div [hidden]="submitted">
    <h1>Hero Form</h1>
    <form (ngSubmit)="onSubmit()" #myForm="ngForm">
      {{ model | json }}
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="email"
          class="form-control"
          id="name"
          required
          [(ngModel)]="model.name"
          name="name"
          #name="ngModel"
        />
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Name is required
        </div>
      </div>
      <div class="form-group">
        <label for="alterEgo">Alter Ego</label>
        <input
          type="text"
          class="form-control"
          id="ego"
          required
          [(ngModel)]="model.alterEgo"
          name="alterEgo"
          #alterEgo="ngModel"
        />
        <div [hidden]="alterEgo.valid || alterEgo.pristine" class="alert alert-danger">
          AlterEgo is required
        </div>
      </div>
      <div class="form-group">
        <label for="power">Hero Power</label> <br />
        <select
          class="form-control"
          name="power"
          id="power"
          required
          [(ngModel)]="model.power"
          name="power"
        >
          <option *ngFor="let pow of powers" [value]="pow">{{ pow }}</option>
        </select>
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!myForm.form.valid"
      >
        Submit
      </button>
      <button
        type="button"
        class="btn btn-default"
        (click)="newHero(); myForm.reset()"
      >
        New Hero
      </button>
    </form>
  </div>
</div>
