<div class="container w-25 pt-3">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <label for="first-name">First Name: </label>
    <input id="first-name" type="text" formControlName="firstName" required />
  <br>
    <label for="last-name">Last Name: </label>
    <input id="last-name" type="text" formControlName="lastName" required/>
    <div formGroupName="address">
      <h3>Address</h3>
    
      <label for="street">Street: </label>
      <input id="street" type="text" formControlName="street">
    
      <label for="city">City: </label>
      <input id="city" type="text" formControlName="city">
    
      <label for="state">State: </label>
      <input id="state" type="text" formControlName="state">
   
      <label for="zip">Zip Code: </label>
      <input id="zip" type="text" formControlName="zip">
      <div formArrayName="aliases">
        <h2>Aliases</h2>
        <button type="button" (click)="addAlias()">+ Add another alias</button>
      
        <div *ngFor="let alias of aliases.controls; let i=index">
          <!-- The repeated alias template -->
          <label for="alias-{{ i }}">Alias:</label>
          <input id="alias-{{ i }}" type="text" [formControlName]="i">
        </div>
      </div>
    </div>
    <p>Form Value:{{profileForm.value|json}}</p> 
    <p>Form Status: {{ profileForm.status }}</p>
    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
    <button type="button" (click)="updateProfile()">Update Profile</button>
  </form>
</div>

