<div class="container w-25 pt-3">
  <label for="name">Name: </label>
  <input id="name" type="text" [formControl]="name" />
  <p>Value: {{ name.value }}</p>
  <button type="button" (click)="updateName()">Update Name</button>
</div>
